<li>
<%= form_tag("bookings/new", method: "get") do %>
	<label>From <%= flight.from_airport.code %> to <%= flight.to_airport.code %> 
	at <%= flight.departing_time.strftime("%d.%m.%Y %H:%M") %></label>
	<%= radio_button_tag :booked, flight.id %>
	<%= hidden_field_tag :passengers_count, params[:passengers_count] || 1 %>
	<%= submit_tag "Продолжить" %>
<% end %>
</li>